title: bashplotlib - plotting in the terminal
author: Greg Lamp
date: 06-02-2013

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<p>Have you ever been combing through log files on a server and thought, "This would be a lot easier to investigate if I could just plot this?" Well I was one of those people. I didn't want to keep transfering files off the server just to make a quick plot in R, but I also didn't want to install Rstudio on the server either. I just wanted a quick and dirty way to make some basic plots.</p>

<p>I couldn't find anything that fit the bill so I wrote bashplotlib. It's a command line tool written in pure Python that plots in stdout. It's simple to use and runs fairly quickly on largish files. </p>

<p>The <a href="https://github.com/glamp/bashplotlib" target="_nofollow">github page</a> has info on installation and usage. To install just run <span><pre>pip install -U bashplotlib</pre></span>Have fun!</p>

<h3>And now for some examples...</h3>
<p>To download example data, see <a href="https://github.com/glamp/bashplotlib/blob/master/examples/" target="_nofollow">examples on github.</a></p>

<pre>hist --file million.txt</pre>
<img src="../static/img/04/million.png">

<pre>scatter -x x_test.txt -y y_test.txt</pre>
<img src="../static/img/04/scatter.png">

<h5>My personal favorite, plotting maps in the terminal...</h5>
<pre>scatter --file texas.txt</pre>
<img src="../static/img/04/texas.png">

<h5>Who said you had to plot files?</h5>
<pre>curl http://www.baseball-reference.com/ | grep -o -E "[$]([0-9]+)" | grep -o -E "[0-9]+" \
	| hist -t "Baseball Payrolls"</pre>
<img src="../static/img/04/payrolls.png">

<h5>And it does colors</h5>
<pre>cat lower48.txt | scatter --colour red --title USA --size 30</pre>
<img src="../static/img/04/usa.png">

{% endfilter %}
{% endblock %}
