title: Why you'll still be using R in 5 years
author: Greg Lamp
date: 13-12-2013

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

Recently there's been a flurry of blog posts and articles describing how Python
is taking over R and that Python and/or Julia are going to blow it out of the
water. But if you think that you're escaping from the death grip of `R`? I've
got news for your Mr. Scientist, `R` is here to stay (at least for a while).

### ggplot
In the wake of publishing `ggplot` for Python, I've noticed a lot of chatter in 
the data science community about the death of R. Not to say that this is only 
because of `ggplot`, but there have been lots of tweets that sound something like
this:
<blockquote>
ggplot now for python. i'm never using R again!
</blockquote>
While I'm glad people are excited about `ggplot`, you're kidding yourself if you
think that `ggplot2` is the only thing keeping you using R.

### Recent News
Like many people, I came across Matt Asay's [article](http://readwrite.com/2013/11/25/python-displacing-r-as-the-programming-language-for-data-science)
a few weeks ago on HackerNews. It's a great article, and I think the two
strongest arguments were:
- R is a pain in tough to learn
- Python is general purpose, wheras R is a specialist's language

### R is still cutting edge
TODO: blah blah blah

### Time
TODO: blah blah blah

### The voice of the internet is not driven by the majority of users
TODO: blah blah blah

### Advanced R Programming
[This book](http://adv-r.had.co.nz/) is going to help make `R` more accessible. 
Previously, the best documentation for building `R` packages was found [here](http://cran.r-project.org/doc/manuals/R-exts.html).
Functional? Yes. Thurough? You bet. Helpful? Maybe. Easy to follow? Absolutely
not.

Hadley Wickham's new book will hopefully make it a lot easier for the "average R
user" to make the leap to "advanced R user".

### Pydata is dicking around
Pydata is the non-profit wing of Continuum Analytics. It essentially gives them
a seperate avenue for raising money via donations and grants by which they can 
pay developers to work on open source/government projects. In concept, I think
it's great! We get more open source tools! But to date I've been a little 
disappointed in the tools that have come out of the program:

- [`Bokeh`](https://github.com/ContinuumIO/bokeh) takes dependency hell to a 
different level. As I'm reading the dependencies list, it seems like 10 
engineers were put in a room and just starting listing technologies and concepts
that they thought were cool. In addition it's supposed to be an implementation of
the grammar of graphics as well, though it really just looks like `matplotlib`.
- Seriously, who uses [`Numba`](http://numba.pydata.org/)?
- [`Blaze`](http://blaze.pydata.org/) is entering shit or get off the pot
territory. It sounds nice (next gen `numpy`) but I haven't heard much about 
it since it was accounced about a year ago. The other problem is that `pandas`
(which is how people *actually* interact with their data) has already captured
*considerable* marketshare. So if `Blaze` were really to be of use, a lot of the
under-the-hood aspects of `pandas` would probably need to be redone.


### Conclusion
<img src="{{ STATIC_URL }}/img/southpark_general.jpg" style="height: 250px; display: block">
*I've got news for you, Mr. Scientist* 

{% endfilter %}
{% endblock %}
