title: R Chart Chooser Port
author: Greg Lamp
date: 29-12-2012

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<div>
	<div>
		<!-- <p>Bubble</p> -->
		<a href="/static/downloads/03/test.R" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/BubbleChart.png" style="height:30%;width:30%;">
		</a>
		<a href="/static/downloads/03/test.R" target="_blank">BubbleChart.R</a>
		<!-- <p>Bullet Bar</p> -->
		<a href="/static/img/03/BulletBarChart.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/BulletBarChart.png" style="height:30%;width:30%;">
		</a>
		<!-- <p>Column w/ Line</p> -->
		<a href="/static/img/03/ColumnAndLine.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/ColumnAndLine.png" style="height:30%;width:30%;">
		</a>
	</div>
	<div>
		<!-- <p><Highlighted Pie/p> -->
		<a href="/static/img/03/HighLightedPie.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/HighLightedPie.png" style="height:30%;width:30%;">
		</a>
		<!-- <p>Line</p> -->
		<a href="/static/img/03/LineChart.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/LineChart.png" style="height:30%;width:30%;">
		</a>
		<!-- <p>Pie</p> -->
		<a href="/static/img/03/PieChart.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/PieChart.png" style="height:30%;width:30%;">
		</a>
	</div>
	<div>
		<!-- <p>Scatterplot</p> -->
		<a href="/static/img/03/Scatterplot.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/Scatterplot.png" style="height:30%;width:30%;">
		</a>
		<!-- <p>Stacked Bar</p> -->
		<a href="/static/img/03/StackedBar.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/StackedBar.png" style="height:30%;width:30%;">
		</a>
		<!-- <p>Stacked Volume</p> -->
		<a href="/static/img/03/StackedVolumeChartwLine.png" title="Open picture in new window" target="_blank">
			<img src="/static/img/03/StackedVolumeChartwLine.png" style="height:30%;width:30%;">
		</a>
	</div>
</div>



{% endfilter %}
{% endblock %}
