title: Guide to R pacakges
author: Greg Lamp
date: 10-02-2013

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<p>Here's a <a href="http://blog.yhathq.com/posts/10-R-packages-I-wish-I-knew-about-earlier.html" title="yhat predictive models">guide</a> to getting started with R packages.</p>
<p>It goes over some really crucial R packages and gives some nice examples for how to use them. They even give one my <a href="../posts/r-chart-chooser.html">ggplot chart chooser</a> a little love</p>

{% endfilter %}
{% endblock %}
