title: vowpal_wabbit: the redis of the data science community
author: Greg Lamp
date: 01-01-2014

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

`vowpal_wabbit`, or `vw`, is an online learning program built by
[Yahoo! Research](http://). It's fairly basic to use, it's essentially a command
line tool and it's mostly written in C++. Even the [website](http://hunch.net/) 
is super simple.

Using `vw` basically maxes out your data science [cheaupaux](). It's like not 
wearing a mask in hockey, or having lift tickets from 3 foreign countries on 
your ski jacket. Yeah, it's that cool.

<img src="{{ STATIC_URL }}/img/cheaupaux.png" stlye="display: block;">
*A sports player demonstrating exceptionally high cheaupaux*
*another activity that yields high cheapaux points*

### So it's cool, but what is it?

`vw` was designed with the following in mind:

- one
- two
- three
- four


I've always thought of `vw` as being a "data scientist's data scientist's tool".
 It's one of those technologies where in order to get anything out of it you 
have to know what you're doing.

<img src="{{ STATIC_URL }}/img/vw-help.png" stlye="display: block;">

*You better know what you're getting into*


### Sort of like redis
It actually reminds me a lot of [`redis`](http://redis.io/). redis is one of
those tools that never fails to get engineers excited. My take on it is that
it's so simple yet powerful that it's sort of a test of an engineer's true
skill.

I see the exact same sort of reaction from data scientists when talking about
`vw`. *Finally! A chance to show off my math!*

<img src="{{ STATIC_URL }}/img/redis-logo.png" stlye="display: block;">

### What's it look like?
So `vw` is basically a `stdin` / `stdout` cookie monster. You run it from the
shell and feed it a JSON-esque data structure and it pukes predictions back out
at you. Pretty? No. Simple and easy to use? You bet!

Installing `vw` requires you to use `make`. It'll blast through a bunch of C++
and leave you with the `vw` command. Just make sure you have the [C++ boost lib](link/to-boost/)
installed. Now there have been clients written in other programming languages
like [`vowpal_porpoise`](link/here), but the pursist in me loves using
`vw` in its true form.

    # insert code snippets here
    $ vw --adaptive -p /dev/stdout

### Training
Training is pretty straightforward. Give it some data with a label and `vw` will
start learning. There are __a lot__ of configuration options for `vw`, including
things like neural newtorks, blah, and blah. Configuration options are specified
as command line arguments. For now, we'll go with a fairly vanilla setting.

    $ vw --oaa 3 -d 

### Data
Since `vw` is a esoteric enough already, we're going to keep the dataset simple 
by using our old friend `iris`. I just wrote a bash one-liner to write write it 
to a csv.
    
    $ Rscript -e "write.csv(iris, stdout(), row.names=F)" > iris.csv

### Making Predictions

{% endfilter %}
{% endblock %}




