{% extends "base.html" %}
{% block content %}
<div>
	<h1>The Yaksis<span style="color:blue;"></span></h1>
	<h3>Where Himalayan bovines meet cartesian coordinates.</h3>
	<img src="static/img/theyaksis_graph.png" style="height:80%;width:80%;">
</div>
<div>
	<ul>
		{% for post in posts %}
		<li> 
			<b><a href='{{ ROOT_URL }}/{{ post.path }}'>{{ post.title }}</a></b>
			by {{ post.author }} at {{ post.date|date:"F j Y" }}<br>
			{{ post.body|truncatewords_html:30}}
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}
