{% extends "base.html" %}
{% block content %}
<h1>The Yaksis</h1>
<!-- <img src="static/img/theyaksis_graph.png" style="height:80%;width:80%;">
 -->
<h3>Greg Lamp</h3>
<p>I'm Greg. I enjoy working with R, Python, MongoDB, Postgres, and whatever 
else fits the bill. I have experience in machine learning, data management, 
data warehousing, and web crawling. I built this blog
using <a href="https://github.com/koenbok/Cactus" target="_blank">Cactus</a>
which is extremely easy to use. I would highly recommend it for any static 
website.</p>


<p>I'm also a co-Founder of <a href="http://www.yhathq.com/" target="_nofollow">
   Yhat</a></p>

<h3>Projects</h3>
<ul>
	<li><a href="https://github.com/glamp/bashplotlib" target="_nofollow">bashplotlib</a></li>
	<li><a href="https://github.com/yhat/ggplot" target="_nofollow">ggplot</a></li>
	<li><a href="https://github.com/yhat/pandasql" target="_nofollow">pandasql</a></li>
</ul>

<p>I occasionally give talks:</p>
<ul>
  <li><a href="http://vimeo.com/74885982">Predictive Model Deployment with Yhat - PyData Boston 2013</a></li>
  <li><a href="http://www.youtube.com/watch?v=MtqQYJLKNPk">Yhat @ NYTEM 2013
</ul>

{% endblock %}
