{% extends "base.html" %}
{% block content %}
<h1>The Yaksis</h1>
<!-- <img src="static/img/theyaksis_graph.png" style="height:80%;width:80%;">
 -->
<h3>Greg Lamp</h3>
<p>I'm Greg. I enjoy working with R, Python, MongoDB, Postgres, and whatever else fits the problem I'm wroking on. I have experience in machine learning, data management, data warehousing, and web crawling. I built this blog using <a href="https://github.com/koenbok/Cactus" target="_blank">Cactus</a> which is extremely easy to use. I would highly reccomend it for any static website.</p>


<!-- <p>I'm also working on <a href="http://www.yhathq.com/" target="_nofollow">Yhat</a>--the easiest way to deploy predictive models built in Python.</p> -->

<h3>Projects</h3>
<ul>
	<li><a href="https://github.com/glamp/bashplotlib" target="_nofollow">bashplobli</a></li>
	<li><a href="https://github.com/glamp/uriBud" target="_nofollow">UriBud</a> - I got tired of parsing MongoDB uris.</li>
	<!-- <li><a href="http://www.yhathq.com/" target="_nofollow">Yhat</a></li> -->
</ul>

{% endblock %}
